#Instagram {
  bottom: 0%;
  right: 0%;
  position: fixed;
  height: 4vh;
  margin: 0;
  padding: 0;
}
#InstagramImage{
  width:4vh;
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0%;
  right:0%;
}
#Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #202020;
  position: fixed;
  height: 100%;
  overflow: auto;
  min-width: 18vh;
}

#Menu label:hover {
  background-color: #98c379;
  color: #202020
}
a:link {
  color: rgb(255, 0, 0);
}
a:visited{
  color:rgba(0, 255, 0);
}
body{
  font-family: sans-serif;
  background-color: #24292e;
}
h1{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #c6cccf;
  font-size: 4vh
}
#dropdown-content {
  margin: 0;
  padding: 0;
  padding-left: 5vh;
  height: auto;
  display: none;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
  position: absolute;
  background-color: #202020;
  position: fixed;
  color:  #98c379;
  margin-left: 1vh;
  font-size: 2.5vh;
  width: 10%;
  text-align: center;
  min-width: 15vh;

}
.content{
  margin-left: 17%;
  padding: 1px;
}
#MainText{
  padding: 1vh;
  padding-left: 0;
  margin-left: 17%;
}
@media screen and ( max-width: 600px ){
    #MainText{
        margin-left: 20vh;
    }
    .content{
      margin-left: 20vh;
    }
}
.UnSelectedpointer:hover + #dropdown-content {
  display: block;
  background-color: #202020;
  color:  #98c379;
}
#dropdown-content:hover{
  display: block;

}
h2, label{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #98c379;
  font-size: 20px;
}
.pointer{
  cursor: pointer;
}
.UnSelectedpointer{
  cursor: pointer;
  display: block;
  background-color: #202020;
  padding: 1vh 2vh;
  text-decoration: none;
  color: #98c379;
  font-size:2.5vh;
}
.SelectedPointer{
  cursor: pointer;
  display: block;
  background-color: #98c379;
  padding: 1vh 2vh;
  text-decoration: none;
  color: #000000;
  font-size:2.5vh;
}

div{
  padding: 1px;
  margin-left: 32vh;
}
li.default{
  color: rgb(200, 150, 100);
  font-size:16px;
  margin-left: 0px;
  padding: 1px;
}
body{
  margin: 0;
}
